.site-header {
    display: flex;
    align-items: center;
    padding: 1em 2em 1em 2em;
    @media screen and (min-width: $query__menu-breakpoint) {
        padding: 3em 2em 3em 2em;
    }

    h1, h2 {
        font-size: 1em;
        padding: 0 0.5em;
    }

    .site-branding {
        display: flex;
        align-items: center;
        justify-content: left;
        text-transform: lowercase;
        font-weight: 700;

        width: 100%;
        @media screen and (min-width: $query__menu-breakpoint) {
            width: 50%;
        }
        p {
            margin: 0;
        }
        .custom-logo-link {
            display: flex;
            align-items: center;
            justify-content: left;
            border: 0;
            .custom-logo {
                height: 40px;
                display: block;
                padding-right: 0.5em;
                @include color__text-screen();
            }
        }
        .site-title {
            /*display: none;*/
            display: inline-block;
            margin: 0;
            font-size: 1em;
            &:after {
                content: "—";
                padding: 0 0.5em;
            }
            /*
            @media screen and (min-width: $query__menu-breakpoint) {
                display: inline-block;
            }
            */
        }
        /*
        .site-description {
            display: none;
            @media screen and (min-width: $query__menu-breakpoint) {
                display: inline-block;
            }
        }
        */
    }

    /*
    border-top: 10px solid $color__background-brand;
    text-align: center;

    .site-title {
        border-bottom: 1px $color__background-hr solid;
        font-size: $font-size-lg;
        color: $color__text-screen;
        font-weight: normal;
        margin-bottom: 0;
        margin-top: 3.7rem;
        margin-right: 1rem;
        margin-left: 1rem;
        padding-top: 0;
        padding-bottom: 3rem;
        padding-right: 1rem;
        padding-left: 1rem;
        line-height: 1.3em;
        a {
            color: $color__text-screen;
            //text-decoration: none;
            border: 0;
        }
        @media screen and (min-width: $query__small) {
            font-size: $font-size-xlg;
            padding-bottom: 2.9rem;
            border-bottom: 0;
        }
    }
    .site-description {
        display: none;
    }
*/
}
