body,
button,
input,
select,
textarea {
    color: $color__text-main;
    font-family: $font__sans;
    font-weight: 400;
    @include font-size(0.9);
    line-height: $font__line-height-body;

    @media screen and (min-width: $query__small) {
        @include font-size(1);
    }
}

//@import url("https://fonts.googleapis.com/css2?family=Khula:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

@font-face {
    font-family: Mallory;
    src: url(/../fonts/Mallory-Book-1311291b66a9945865aa60201ee69d16.woff)
        format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Mallory;
    src: url(/../fonts/Mallory-Book-Italic-5927c367a70504f104583bb750810020.woff)
        format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: Mallory;
    src: url(/../fonts/Mallory-Bold-8c256832f93587887957c886c76cf0cd.woff)
        format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
//@font-face{font-family:MalloryMP;src:url(/../fonts/MalloryMP-Book-c033e79eb3f3de05d9c88f294ee4a652.woff) format("woff");font-weight:400;font-style:normal;font-display: swap;}
//@font-face{font-family:MalloryMP;src:url(/../fonts/MalloryMP-Book-Italic-c72a28379a9ea16df80174c300dc8a86.woff) format("woff");font-weight:400;font-style:italic;font-display: swap;}
//@font-face{font-family:MalloryMP;src:url(/../fonts/MalloryMP-Bold-12ee988abb0fe4251d624e7bcdd1e065.woff) format("woff");font-weight:700;font-style:normal;font-display: swap;}
//@font-face{font-family:MalloryMP;src:url(/../fonts/MalloryMP-Bold-Italic-7d0b905afe375d59794635de5f88f1c0.woff) format("woff");font-weight:700;font-style:italic;font-display: swap;}
@font-face {
    font-family: Mallory Condensed;
    src: url(/../fonts/MalloryCond-Book-d62f3f91ed3807dcd5a5fbda0352639a.woff)
        format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Mallory Condensed;
    src: url(/../fonts/MalloryCond-Bold-0ae4c7e98f395ec6422238c2f8f380ba.woff)
        format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@import "headings";

@import "copy";
