$size__site-main: 36em;

$query__small: 600px;
$query__medium: 900px;

$font-size-xlg: 4rem;
$font-size-lg: 3rem;
$font-size-md:   2rem;
$font-size-sm:   1.1rem;
$font-size-xs:   1rem;
$font-size-xxs:   .75rem;
$font-size-xxxs:   .65rem;

$column__main: 50rem;