$font__serif: "Mallory", Georgia, Cambria, "Times New Roman", Times, serif; //'PT Serif',
$font__sans: $font__serif;
$font__code: "JetBrains Mono", Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "JetBrains Mono", "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
