@charset "utf-8";

@import "variables-site/variables-site";
@import "mixins/mixins-master";

/*--------------------------------------------------------------
# Bulma
--------------------------------------------------------------*/
//@import "../node_modules/bulma/bulma.sass";
//@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all";

//@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/base/minireset";
//@import "../node_modules/bulma/sass/base/generic";

//@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container";
@import "../node_modules/bulma/sass/elements/title";

@import "../node_modules/bulma/sass/grid/columns";
//@import "../node_modules/bulma/sass/form/_all.sass";
//@import "../node_modules/bulma/sass/components/navbar.sass";
//@import "../node_modules/bulma/sass/layout/hero.sass";
//@import "../node_modules/bulma/sass/layout/section.sass";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "normalize/normalize";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
@import "elements/elements";

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
@import "site/site";

.container { max-width: $size__site-main; }









/* PrismJS 1.28.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript&plugins=line-highlight */
/*
code[class*=language-],pre[class*=language-]{color:#ccc;background:0 0;font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;font-size:1em;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}pre[class*=language-]{padding:1em;margin:.5em 0;overflow:auto}:not(pre)>code[class*=language-],pre[class*=language-]{background:#2d2d2d}:not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em;white-space:normal}.token.block-comment,.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#999}.token.punctuation{color:#ccc}.token.attr-name,.token.deleted,.token.namespace,.token.tag{color:#e2777a}.token.function-name{color:#6196cc}.token.boolean,.token.function,.token.number{color:#f08d49}.token.class-name,.token.constant,.token.property,.token.symbol{color:#f8c555}.token.atrule,.token.builtin,.token.important,.token.keyword,.token.selector{color:#cc99cd}.token.attr-value,.token.char,.token.regex,.token.string,.token.variable{color:#7ec699}.token.entity,.token.operator,.token.url{color:#67cdcc}.token.bold,.token.important{font-weight:700}.token.italic{font-style:italic}.token.entity{cursor:help}.token.inserted{color:green}
pre[data-line]{position:relative;padding:1em}

.line-highlight{
    position:absolute;left:0;right:0;padding:inherit 0;margin-top:1em;background:hsla(24,20%,50%,.08);background:linear-gradient(to right,hsla(24,20%,50%,.1) 70%,hsla(24,20%,50%,0));pointer-events:none;line-height:inherit;white-space:pre;

    background:hsla(0,20%,50%,.3);

    background:linear-gradient(to right,hsla(0,20%,50%,.3) 70%,hsla(0,20%,50%,0));
}

@media print{.line-highlight{-webkit-print-color-adjust:exact;color-adjust:exact}}
*/
/*.line-highlight:before,.line-highlight[data-end]:after{content:attr(data-start);position:absolute;top:.4em;left:.6em;min-width:1em;padding:0 .5em;background-color:hsla(24,20%,50%,.4);color:#f4f1ef;font:bold 65%/1.5 sans-serif;text-align:center;vertical-align:.3em;border-radius:999px;text-shadow:none;box-shadow:0 1px #fff}.line-highlight[data-end]:after{content:attr(data-end);top:auto;bottom:.4em}
/
.line-numbers .line-highlight:after,.line-numbers .line-highlight:before{content:none}pre[id].linkable-line-numbers span.line-numbers-rows{pointer-events:all}pre[id].linkable-line-numbers span.line-numbers-rows>span:before{cursor:pointer}pre[id].linkable-line-numbers span.line-numbers-rows>span:hover:before{background-color:rgba(128,128,128,.2)}
*/





/* PrismJS 1.28.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+bash+json+typescript */
code[class*=language-],pre[class*=language-]{
  color:#ccc;background:0 0;font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;font-size:1em;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none
}
pre[class*=language-]{
  padding:1em;margin:.5em 0;overflow:auto
}
:not(pre)>code[class*=language-],pre[class*=language-]{background:#2d2d2d}
:not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em;white-space:normal}
.token.block-comment,.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#999}
.token.punctuation{color:#ccc}
.token.rule{color:#d08770}
.token.attr-name,.token.deleted,.token.namespace,.token.tag{color:#e2777a}
.token.function-name{color:#6196cc}
.token.boolean,.token.function,.token.number{color:#f08d49}
.token.class-name,.token.constant,.token.property,.token.symbol{color:#f8c555}
.token.atrule,.token.builtin,.token.important,.token.keyword,.token.selector{color:#cc99cd}
.token.attr-value,.token.char,.token.regex,.token.string,.token.variable{color:#7ec699}
.token.entity,.token.operator,.token.url{color:#67cdcc}
.token.bold,.token.important{font-weight:700}
.token.italic{font-style:italic}
.token.entity{cursor:help}
.token.inserted{color:green}


/*********************************************************
* Tokens nord theme
*/
.namespace {
  opacity: .7;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #606e87;
}
.token.punctuation {
  color: #81a1c1;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #b48ead;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a2bf8c;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #80a2c1;
  background: none;
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #81a1c1;
}
.token.function {
  color: #8fbcbc;
}
/*
.token.regex,
.token.important,
.token.variable {
  color: #ee9900;
}
*/
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
/*********************************************************
* Line highlighting
*/
/*
pre[data-line] {
  position: relative;
}
pre[class*="language-"] > code[class*="language-"] {
  position: relative;
  z-index: 1;
}
.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  background: #3b4251;
  box-shadow: inset 5px 0 0 #d8dee9;
  z-index: 0;
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}
*/
/*
.line-highlight{
    position:absolute;left:0;right:0;padding:inherit 0;margin-top:1em;background:hsla(24,20%,50%,.08);background:linear-gradient(to right,hsla(24,20%,50%,.1) 70%,hsla(24,20%,50%,0));pointer-events:none;line-height:inherit;white-space:pre;

    background:hsla(0,20%,50%,.3);

    background:linear-gradient(to right,hsla(0,20%,50%,.3) 70%,hsla(0,20%,50%,0));
}

@media print{.line-highlight{-webkit-print-color-adjust:exact;color-adjust:exact}}
*/

//pre[class*=language-]{
.remark-highlight{
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

/*** LINE NUMBERS **/
pre[class*=language-].line-numbers{position:relative;padding-left:3.8em;counter-reset:linenumber}pre[class*=language-].line-numbers>code{position:relative;white-space:inherit}.line-numbers .line-numbers-rows{position:absolute;pointer-events:none;top:0;font-size:100%;left:-3.8em;width:3em;letter-spacing:-1px;border-right:1px solid #999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.line-numbers-rows>span{display:block;counter-increment:linenumber}.line-numbers-rows>span:before{content:counter(linenumber);color:#999;display:block;padding-right:.8em;text-align:right}

/*** HIGHLIGHT **/
:root {
  --highlight-background: rgb(0 0 0 / 0);
  --highlight-width: 0;
}

.line-numbers span.line-numbers-rows > span {
  position: relative;
}

.line-numbers span.line-numbers-rows > span::after {
  content: " ";
  background: var(--highlight-background);
  width: var(--highlight-width);
  position: absolute;
  top: -2px;
}

/*** HIDE NUMBERS **/
.line-numbers.hide-numbers {
  padding: 1em !important;
}

.hide-numbers .line-numbers-rows {
  width: 0;
}

.hide-numbers .line-numbers-rows > span::before {
  content: " ";
}

.hide-numbers .line-numbers-rows > span {
  padding-left: 2.8em;
}